<template>
  <div class="notification" v-bind:class="{'is-success': message.success, 'is-danger': message.error}">
    <button class="delete" @click="removeMessage()"></button>
    {{message.message}}
    <progress v-if="message.success" class="progress mt-3" v-bind:value="progress" max="100">15%</progress>
  </div>
</template>
<script>
export default {
  data: function() {
    return {
      progress: 0,
      interval: null,
      timeout: null
    }
  },
  props: ['message'],
  methods: {
    removeMessage() {
      this.$emit('deleteMessage', this.message);
      if(this.interval) {
        clearInterval(this.interval);
      }
    },
    updateProgres() {
      this.progress += 13;
    }
  },
  mounted() {
    if(this.message.success) {
      this.timeout = setTimeout(this.removeMessage, 2000);
      this.interval = setInterval(this.updateProgres, 250);
    }
  }
}
</script>