<template>
  <div class="notification-wrapper">
    <notification-item v-for="message in messages" :message="message" @delete-message="deleteMessage(message);"></notification-item>
  </div>
</template>
<script>
import NotificationItem from "./NotificationItem.vue";
export default {
  components: {NotificationItem},
  data: function() {
    return {

    }
  },
  props: ['messages'],
  watch: {

  },
  methods: {
    deleteMessage(message) {
      let index = this.messages.indexOf(message);
      this.messages.splice(index, 1);
    }
  }
}
</script>
<style>
.notification-wrapper {
  position: fixed;
  top: 75px;
  right: 20px;
  min-width: 200px;
  max-width: 400px;
}
</style>