<template>
  <section class="hero" :class="outsideclass">
    <div class="hero-body">
      <p class="title">
        {{title}}
      </p>
      <p class="subtitle">
        {{subtitle}}
      </p>
    </div>
  </section>
</template>
<script>
export default {
  data() {
    return {

    }
  },
  props: ["title", "subtitle", "outsideclass"]
}
</script>