<template>
  <canvas ref="canvas" :width="width" :height="height"></canvas>
</template>
<script>
import Chart from 'chart.js/auto';
export default {
  props: {
    payload: {
      type: Object
    },
    options: {
      default: null,
      type: Object
    },
    width: {
      default: 400,
      type: Number
    },
    height: {
      default: 400,
      type: Number
    },
    cssClasses: {
      type: String,
      default: ''
    },
    styles: {
      type: Object
    },
    chartType: {
      default: "line",
      type: String
    }
  },
  data() {
    return {
      ctx: null,
      chart: null
    }
  },
  methods: {
    renderChart() {
      console.log("Render chart: " + this.chartType + " " + JSON.stringify(this.payload));
      this.ctx = this.$refs.canvas;
      this.chart = new Chart(this.ctx, {
        type: this.chartType,
        data: this.payload,
        options: this.options
      });
    }
  },
  watch: {
    payload: function() {
      this.renderChart();
    }
  }
}
</script>