<template>
<div ref="dropArea" id="dropArea">
  <form class="dropForm">
    <div class="file is-boxed">
      <label class="file-label">
        <input class="file-input" type="file" v-bind:name="name" @change="inputChanged($event)">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file...
          </span>
        </span>
      </label>
    </div>
  </form>
</div>
</template>
<script>
export default {
  data() {
    return {

    }
  },
  props: {
    url: String,
    headers: Object,
    name: {
      type: String,
      default() {
        return 'file';
      }
    },
    sending: Function
  },
  methods: {
    preventDefaults(e) {
      e.preventDefault();
      e.stopPropagation();
    },
    inputChanged(event) {
      this.handleUpload(event.target.files);
    },
    dropChanged(event) {
      let dt = event.dataTransfer;
      let files = dt.files;
      this.handleUpload(files);
    },
    handleUpload(files) {
      ([...files]).forEach(this.uploadFile);
    },
    uploadFile(file) {
      let vm = this;
      let xhr = new XMLHttpRequest();
      let formData = new FormData();
      formData.append(this.name, file);
      xhr.open('POST', this.url, true);
      if(this.headers) {
        for(const [k, v] of Object.entries(this.headers)) {
          xhr.setRequestHeader(k, v);
        }
      }

      if(this.sending) {
        this.sending(file, xhr, formData);
      }

      xhr.onreadystatechange = function() {
        if(this.readyState === XMLHttpRequest.DONE) {
          if(this.status === 200) {
            vm.$emit('success', JSON.parse(xhr.response));
          } else {
            vm.$emit('error', `Error uploading file: ${file.name}`)
          }
        }
      }
      xhr.send(formData);
    }
  },
  mounted() {
    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(name => {
      this.$refs.dropArea.addEventListener(name, this.preventDefaults, false);
    });

    this.$refs.dropArea.addEventListener('drop', this.dropChanged, false);
  }
}
</script>
<style>
#dropArea {
  border: 2px dashed #ccc;
  border-radius: 20px;
  font-family: sans-serif;
  margin: 50px auto;
  padding: 40px;
}
</style>